# Tarea 1 Bases de Datos 2022-1 Grupo XX

_Recuerde modificar esta celda y la siguiente! (Borre esta línea también)._

## Integrantes:
* Nombre Integrante 1 - Rol-1
* Nombre Integrante 2 - Rol-2
* Nombre Integrante 3 - Rol-3

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (recuerde actualizar pip3):

In [29]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in f:\python\lib\site-packages (0.4.0)
Requirement already satisfied: sqlparse in f:\python\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in f:\python\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in f:\python\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: six in f:\python\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in f:\python\lib\site-packages (from ipython-sql) (1.4.34)
Requirement already satisfied: prettytable<1 in f:\python\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: stack-data in f:\python\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in f:\python\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.16 in f:\python\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: decorator in f:\python\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in f:\python\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.28)
Requirement already satisfied: colorama in f:\python\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: backcall in f:\python\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in f:\python\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: setuptools>=18.5 in f:\python\lib\site-packages (from ipython>=1.0->ipython-sql) (58.1.0)
Requirement already satisfied: traitlets>=5 in f:\python\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in f:\python\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: greenlet!=0.4.17 in f:\python\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in f:\python\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in f:\python\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens in f:\python\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in f:\python\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in f:\python\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: sqlalchemy in f:\python\lib\site-packages (1.4.34)
Requirement already satisfied: greenlet!=0.4.17 in f:\python\lib\site-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: psycopg2 in f:\python\lib\site-packages (2.9.3)
Requirement already satisfied: names in f:\python\lib\site-packages (0.3.0)

## Importar dependencias

In [30]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [31]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:12345@localhost:5432/Blockchain

env: DATABASE_URL=postgresql://postgres:12345@localhost:5432/Blockchain

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [32]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='Blockchain',
   password="12345"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x000001F5446529B0; dsn: 'user=postgres password=xxx dbname=Blockchain host=localhost', closed: 0>

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Usuarios"

In [33]:
%%sql

CREATE TABLE Usuarios(
    ID_usuario INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR (45) NOT NULL,
    apellido VARCHAR (45),
    correo VARCHAR (45) NOT NULL,
    contraseña VARCHAR(50) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,
    PRIMARY KEY(ID_usuario)
);

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «usuarios» ya existe

[SQL: CREATE TABLE Usuarios( ID_usuario INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR (45) NOT NULL,
    apellido VARCHAR (45),
    correo VARCHAR (45) NOT NULL,
    contraseña VARCHAR(50) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,
    PRIMARY KEY(ID_usuario)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Creadores"

In [34]:
%%sql

CREATE TABLE Creadores(
    Id_creador INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45) NOT NULL,
    popularidad INTEGER,
    estilo VARCHAR(45),
    PRIMARY KEY(Id_creador)
);

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «creadores» ya existe

[SQL: CREATE TABLE Creadores( Id_creador INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45) NOT NULL,
    popularidad INTEGER,
    estilo VARCHAR(45),
    PRIMARY KEY(Id_creador)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Tipos_NTF"

In [35]:
%%sql

CREATE TABLE Tipos_NFT(
    ID_tipo INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(20) NOT NULL,
    PRIMARY KEY(ID_tipo)
);

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «tipos_nft» ya existe

[SQL: CREATE TABLE Tipos_NFT( ID_tipo INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(20) NOT NULL,
    PRIMARY KEY(ID_tipo)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "NFT"

In [36]:
%%sql

CREATE TABLE NFT(
    ID_nft INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    ID_creador INTEGER NOT NULL,
    FOREIGN KEY (ID_creador) REFERENCES Creadores(ID_creador),
    id_tipo INTEGER,
    FOREIGN KEY(ID_tipo) REFERENCES Tipos_NFT(ID_tipo),
    PRIMARY KEY(ID_nft)

);

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «nft» ya existe

[SQL: CREATE TABLE NFT( ID_nft INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    ID_creador INTEGER NOT NULL,
    FOREIGN KEY (ID_creador) REFERENCES Creadores(ID_creador),
    id_tipo INTEGER,
    FOREIGN KEY(ID_tipo) REFERENCES Tipos_NFT(ID_tipo),
    PRIMARY KEY(ID_nft)

);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Precio NFT"

In [37]:
%%sql

CREATE TABLE Precio_NFT(
    ID_nft INTEGER,
    FOREIGN KEY (ID_nft) REFERENCES NFT(id_nft),
    fecha TIMESTAMP NOT NULL,
    precio INTEGER NOT NULL,
    PRIMARY KEY(id_nft, fecha)
);

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «precio_nft» ya existe

[SQL: CREATE TABLE Precio_NFT( ID_nft INTEGER,
    FOREIGN KEY (ID_nft) REFERENCES NFT(id_nft),
    fecha TIMESTAMP NOT NULL,
    precio INTEGER NOT NULL,
    PRIMARY KEY(id_nft, fecha)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Usuario tiene NFT"

In [38]:
%%sql

CREATE TABLE Usuario_tiene_NFT(
    id_usuario INTEGER,
    id_nft INTEGER,

    FOREIGN KEY (id_usuario) REFERENCES Usuarios(id_usuario),
    FOREIGN KEY (id_nft) REFERENCES NFT(id_nft),

    PRIMARY KEY (id_usuario, id_nft)


);

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «usuario_tiene_nft» ya existe

[SQL: CREATE TABLE Usuario_tiene_NFT( id_usuario INTEGER,
    id_nft INTEGER,

    FOREIGN KEY (id_usuario) REFERENCES Usuarios(id_usuario),
    FOREIGN KEY (id_nft) REFERENCES NFT(id_nft),

    PRIMARY KEY (id_usuario, id_nft)


);]
(Background on this error at: https://sqlalche.me/e/14/f405)

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [39]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_password():
    return ''.join(r.choice(string.ascii_uppercase + string.digits) for x in range(15))

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE usuarios, creadores, tipos_nft, nft, precio_nft, usuario_tiene_nft RESTART IDENTITY"
cursor.execute(query)
connection.commit()


print("Generando Datos...")

nft_names = ['Crypto Raptors', 'The Binary Girl', 'Sphere Art', 'Fight Punks', 'Thunder NFT', 'Artistic Alpha', 'Digital Unicorns', 'Bling Bits', 'Secret Stones', 'Crypto Potato', 'Futuristic Realism', 'Nova Auroras', 'Dreamy Imaginations', 'Reflected Light', 'Spells of Genesis', 'Crypto Felines', 'Dose of Art', 'To The Moon', 'Artful Antlers', 
'Butterfly Dust', 'Depressed Dragons', 'Crypto Diamonds', 'Healthy Hedgehogs', 'Crypto Jackpot', 'Minecraft Sphere', 'Crypto Boom', 'Lucky Lizards', 'Rockin Crypto', 'Crystalline Canyon', 'Koala Kickers', 'Clumsy Crocodiles', 'Mountain of Clouds', 'Blizz Blizzard', 'Cryptokitty Ville', 'Cryptonaut', 'Mike Halloween Yodelers', 'The Teacup Pomeranian', 
'Art Dodger', 'Awesome Concept', 'Aliens Abduction', 'Animated Hard Art', 'Ultimate Iconic Crypto (IUC)', 'Hilarious Horses', '1-Love', '0NOZER0', 'Meteorite NFT', 'Bee Token', 'Elephant Treasure Hunt', 'Crypto Life', '1NiTRO', 'Dust Rift', 'Tokenized Superheroes', 'Techno Abstract Aesthetics', 'Digi Gods', 'Outstanding Octopus', 'Panther NFT', 
'Cypherpunk Samurai', 'Rich Rhinos', 'Crypto Punked', 'Funny Frogs', 'Bit NFT', 'Phonetic Phoenix', 'Flame Stinger', 'Fight For The Title', 'Koalas in Love', 'Touchdown', 'Resilient Rats', 'Bloom of Flowers', 'NFT Lord', 'Fair Coin', 'Art Rumble', 'Light Embrace', 'Crypto Bunny Ranch', 'Crypto Pigeon Race', 'Water Wiggle', 'Wowoo World', 
'Crypto Club', 'Crypto Kitties Of War', 'Visionary Crypto', 'Women Power', 'Rainbows Ends', 'Cards of Polo', 'Crypto Kitties', 'Busy Bats', '0xHile', 'Token Watchdogs', 'Non Fungible Nibbles', 'Pandamonium', '3D Me', 'Midas NFTs', 'Graceful Gorillas', 'United Crypto Token (UCT)', 'Crypto Art Gallery', 'Dark Horse Lady', 'Block View', 'Arty Arts', 
'White Storm', 'Krypto Queen', 'Clever Chimp', 'Qat Tree Unicorn', 'Anna Frozen Entertainers', 'Artificial Rocks', '0NOCH0', 'Flame Blade', 'The Gold Betta', 'Doge Pal', 'Elite Fur Dog Race Club', 'Dust Sifter', 'Moonlit Butterfly', 'Art Lover Box', 'Madame Witch', 'Fantasy Token', 'Bitsy', 'Hive City', 'Couch Potato', 'Burger Bits', 'Crypto Potluck', 
'Cyberboxer', 'Calm Crows', 'Crumbs NFT', 'Mint Chocolates', 'Atollon Coral', 'Dapper Dinos', 'Flame Cats', 'Addictive Animals', 'Alice Wonderland Frozen Carolers', 'Coin Dance', 'Giant Coin', 'Silver Lining Pixy', 'Headed Shark Attack', 'Ultimate League Of Paragon', 'Darker Clouds', 'Blue Mood Chip', 'Brush Point', 'Enthusiastic Elephants', 'Ultra Cool Dogs', 
'Pink Sports Cars']

dominios = ["hola.cl", "google.com","usm.cl","prestigio.usm.cl","crypto.co","basededatos.top"]

tipos_nft = [
    ("Imagen",), ("Musica",),("Juegos",), ("Modelo 3D",), ("Pixel",), ("Membresia",),("Arte",),
]

estilos = [
    ("Anime",),("Manga",),("Arte Retro",),("Arte Moderno",),("Impresionismo",),("Barroco",),("Arte Antiguo",),("Arte 3D",),("Paisaje",)
]

n_usuarios = 200
n_creadores = 20
n_nft = len(nft_names)
n_tipos_nft = len(tipos_nft)
n_usuario_tiene_nft = 80

usuarios = []
for _ in range(1, n_usuarios+1):
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    correo = nombre.lower()+"."+apellido[:4].lower()+"@"+r.choice(dominios)
    usuarios.append((nombre,apellido,correo,generate_password(),generate_timestamp()))

creadores = [(names.get_first_name(), names.get_last_name(), r.randint(0,5), r.choice(estilos)) for _ in range(1,n_creadores+1)]

nft = [(nft_names[n], r.randint(1,n_creadores), r.randint(1,n_tipos_nft)) for n in range(n_nft)]

precio_nft = [(r.randint(1,n_nft), generate_timestamp(), r.randint(500, 100000)) for _ in range(300)]

usuario_tiene_nft = [(r.randint(1,n_usuarios),r.randint(1,n_nft)) for _ in range(81)]


insert = [
    "INSERT INTO usuarios (nombre, apellido, correo, contraseña, fecha_registro) VALUES (%s, %s, %s, %s, %s)",
    "INSERT INTO creadores (nombre, apellido, popularidad, estilo) VALUES (%s, %s, %s, %s)",
    "INSERT INTO tipos_nft (nombre) VALUES (%s)",
    "INSERT INTO nft (nombre, id_creador, id_tipo) VALUES (%s, %s, %s)",
    "INSERT INTO precio_nft (id_nft, fecha, precio) VALUES (%s, %s, %s)",
    "INSERT INTO usuario_tiene_nft (id_usuario, id_nft) VALUES (%s, %s)"
]


for usuario in usuarios:
    cursor.execute(insert[0], usuario)

for creador in creadores:
    cursor.execute(insert[1], creador) 

for tipo in tipos_nft:
    cursor.execute(insert[2], tipo)  

for n in nft:
    cursor.execute(insert[3], n)  
    
for precio in precio_nft:
    cursor.execute(insert[4], precio) 
    
for usr in usuario_tiene_nft:
    cursor.execute(insert[5], usr)
    
connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1
**ID y Nombre del creador de un estilo X con mayor popularidad.**
###### Si hay más de uno, ponga solamente el primero

Ejemplo:

|Id |  Creador      |
|---|-----------|
| 12 |Levi Ackerman |

**Solución:** _Primero renombramos las tablas que utilizaremos, luego en el FROM para utilizar la tabla creadores,_
 hacemos un WHERE para seleccionar  un estilo de los creadores(este puede ser cambiado) y_ 
 finalmente utilizamos el ORDER BY para ordenar la tabla en funcion a la popularidad de los creadores de forma descendiente,
para extraer el mayor valor de la trabla limitamos a 1._

In [51]:
%%sql

SELECT Creadores.ID_creador AS "Id", Creadores.nombre AS "Creador"
FROM Creadores
WHERE Creadores.estilo = 'Anime'
ORDER BY Creadores.popularidad DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[(11, 'Kenneth')]

### Consulta 2
**Cantidad de precios que ha tenido históricamente cada NTF.**

Ejemplo:


| NFT     | Cantidad de precios |
|--------------|----------|
| Minecraft Sphere |    3     |
| The Binary Girl     |    7     |
| ...          |   ...    |

**Solución:** _utilizamos un COUNT en el SELECT para que nos retorne el numero de filas de cada ID del NFT asi sabremos cuantos precios tiene un mismo id, luego Unimos las tablas de NFT Y Precio_NFT con un INNER JOIN de acuerdo al ID del nft luego utilizamos el GROUP BY para agrupar las columnas de acuerdo al ID del nft._

In [55]:
%%sql
SELECT NFT.nombre AS "NFT", COUNT(NFT.ID_nft) AS "Cantidad de precios"
FROM NFT INNER JOIN Precio_NFT 
ON NFT.ID_nft = Precio_NFT.ID_nft
GROUP BY NFT.ID_nft;

 * postgresql://postgres:***@localhost:5432/Blockchain
124 rows affected.

[('Burger Bits', 2),
 ('Non Fungible Nibbles', 2),
 ('Art Rumble', 3),
 ('Bloom of Flowers', 1),
 ('Dust Rift', 2),
 ('Tokenized Superheroes', 1),
 ('Fair Coin', 1),
 ('Darker Clouds', 2),
 ('Busy Bats', 3),
 ('United Crypto Token (UCT)', 5),
 ('Anna Frozen Entertainers', 1),
 ('NFT Lord', 3),
 ('Hive City', 2),
 ('Couch Potato', 3),
 ('Funny Frogs', 1),
 ('White Storm', 2),
 ('Fantasy Token', 2),
 ('Dust Sifter', 4),
 ('Crypto Diamonds', 1),
 ('Crypto Punked', 2),
 ('Enthusiastic Elephants', 3),
 ('Koalas in Love', 3),
 ('Coin Dance', 2),
 ('Flame Cats', 4),
 ('Krypto Queen', 3),
 ('1-Love', 1),
 ('Futuristic Realism', 3),
 ('0NOCH0', 3),
 ('Ultimate Iconic Crypto (IUC)', 2),
 ('Crypto Potluck', 3),
 ('Mint Chocolates', 4),
 ('Pandamonium', 1),
 ('Cards of Polo', 2),
 ('Addictive Animals', 2),
 ('Aliens Abduction', 1),
 ('Bitsy', 3),
 ('Hilarious Horses', 2),
 ('Secret Stones', 2),
 ('Spells of Genesis', 1),
 ('Visionary Crypto', 3),
 ('Crypto Boom', 4),
 ('Elephant Treasure Hunt', 2),
 ('0xHile', 2),
 ('Light Embrace', 7),
 ('Cypherpunk Samurai', 2),
 ('Rainbows Ends', 2),
 ('Bit NFT', 2),
 ('Artful Antlers', 4),
 ('Crypto Club', 3),
 ('Koala Kickers', 5),
 ('Depressed Dragons', 3),
 ('Ultimate League Of Paragon', 5),
 ('Dose of Art', 2),
 ('Rockin Crypto', 2),
 ('The Teacup Pomeranian', 3),
 ('Flame Blade', 1),
 ('Thunder NFT', 1),
 ('Panther NFT', 2),
 ('Crypto Pigeon Race', 3),
 ('Crystalline Canyon', 1),
 ('Fight Punks', 1),
 ('Cryptokitty Ville', 3),
 ('Arty Arts', 2),
 ('Crypto Kitties', 5),
 ('Flame Stinger', 1),
 ('Midas NFTs', 1),
 ('Crypto Potato', 2),
 ('Cryptonaut', 1),
 ('The Gold Betta', 1),
 ('Artistic Alpha', 2),
 ('Elite Fur Dog Race Club', 2),
 ('Token Watchdogs', 5),
 ('Awesome Concept', 1),
 ('3D Me', 3),
 ('Crypto Art Gallery', 2),
 ('Mike Halloween Yodelers', 2),
 ('Clumsy Crocodiles', 1),
 ('1NiTRO', 2),
 ('Artificial Rocks', 2),
 ('Reflected Light', 4),
 ('Touchdown', 5),
 ('Moonlit Butterfly', 1),
 ('Dreamy Imaginations', 5),
 ('Cyberboxer', 4),
 ('Blue Mood Chip', 1),
 ('Madame Witch', 3),
 ('The Binary Girl', 3),
 ('Crypto Felines', 1),
 ('Phonetic Phoenix', 3),
 ('Dapper Dinos', 1),
 ('Water Wiggle', 3),
 ('Giant Coin', 3),
 ('Alice Wonderland Frozen Carolers', 1),
 ('Clever Chimp', 3),
 ('Animated Hard Art', 3),
 ('Meteorite NFT', 3),
 ('Techno Abstract Aesthetics', 1),
 ('Mountain of Clouds', 2),
 ('Qat Tree Unicorn', 2),
 ('Ultra Cool Dogs', 1),
 ('Art Dodger', 1),
 ('Nova Auroras', 3),
 ('Pink Sports Cars', 3),
 ('Crypto Kitties Of War', 5),
 ('Crypto Jackpot', 1),
 ('Minecraft Sphere', 2),
 ('Atollon Coral', 1),
 ('Dark Horse Lady', 4),
 ('Crypto Life', 5),
 ('Bee Token', 3),
 ('Butterfly Dust', 2),
 ('Blizz Blizzard', 3),
 ('Crypto Raptors', 2),
 ('Wowoo World', 2),
 ('Doge Pal', 1),
 ('To The Moon', 2),
 ('Art Lover Box', 1),
 ('Outstanding Octopus', 1),
 ('Silver Lining Pixy', 3),
 ('Lucky Lizards', 3),
 ('Headed Shark Attack', 3),
 ('Healthy Hedgehogs', 2),
 ('Rich Rhinos', 6),
 ('Bling Bits', 2)]

### Consulta 3
**El nombre y tipo (nombre del tipo) del NFT históricamente más caro.**
###### Si hay más de uno, ponga solamente el primero
Ejemplo:

| NFT    | Tipo | 
|----------------|--------|
| Minecraft Sphere| Arte 3D |

**Solución:** _Escriba aquí la descripción de su solución._

In [54]:
%%sql

SELECT NFT.nombre AS "NFT", Tipos_NFT.nombre AS "Tipo"

FROM 
    NFT INNER JOIN Precio_NFT 
    ON NFT.ID_nft = Precio_NFT.ID_nft
    INNER JOIN Tipos_NFT ON NFT.ID_nft = Tipos_NFT.ID_tipo

ORDER BY Precio_NFT.precio DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[('Artistic Alpha', 'Membresia')]

### Consulta 4
**Nombre y apellido del usuario con más número de NFTs.**

Ejemplo:

| Nombre     | Apellido |
|----------------|--------|
| Levi | Ackerman |

**Solución:** _ con un INNER JOIN unimos la tabla de Usuarios con Usuario_tiene_NFT de acuerdo a los ID de cada uno de estos, para luego con un GROUP BY agruparlos por nombre y apellido finalmete ordenamos de acuerdo al numero de filas de id_usuario de manera descendente para extraer solo la primera fila._

In [43]:
%%sql

SELECT 
    Usuarios.nombre AS "Nombre", Usuarios.apellido AS "Apellido"

FROM 
    Usuarios INNER JOIN Usuario_tiene_NFT 
    ON Usuarios.ID_usuario = Usuario_tiene_NFT.id_usuario
    
GROUP BY Usuarios.nombre, Usuarios.apellido
ORDER BY COUNT(Usuarios.id_usuario) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[('Joe', 'Dyke')]

### Consulta 5
**El NFT que más veces cambió de precio historicamente.**

Ejemplo:

|  ID  | NFT | 
|--------|-------|
| 11 |Minecraft Sphere | 

**Solución:** Primero hacemos un INNER JOIN entre nft y precio_nft, para obtener todas las variaciones de precio que han tenido los NFT con en todas las fechas registradas. Posterior a esto, hacemos un GROUP BY a través del id y el nombre, para poder contar las veces que estas se repiten. Luego ordenamos en orden descendente (de mayor a menor) usando COUNT (es decir, la cantidad de veces que se cambia el precio). Luego lo limitamos a 1, para obtener el mayor valor de cambios (si existe más de uno, escoge alguno sin criterio).

In [44]:
%%sql

SELECT precio_nft.id_nft AS "ID", nft.nombre AS "NFT"
    
FROM
	 nft
	INNER JOIN precio_nft ON nft.id_nft=precio_nft.id_nft

GROUP BY  precio_nft.id_nft,nft.nombre
ORDER BY COUNT(precio_nft.id_nft) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[(72, 'Light Embrace')]

### Consulta 6
**Usuarios que NO tienen un NFT.**

Ejemplo

|Nombre | Apellido|
|--------|-------|
|Guillermo    | Diaz |
|Markus | Person |
|Rick   | Astley |
|... | ...| 

**Solución:** _Escriba aquí la descripción de su solución._

In [45]:
%%sql

SELECT 
    Usuarios.nombre AS "Nombre", Usuarios.apellido AS "Apellido"
FROM
    Usuarios FULL OUTER JOIN Usuario_tiene_NFT ON Usuarios.ID_usuario = Usuario_tiene_NFT.id_usuario
WHERE 
    Usuario_tiene_NFT.id_nft is null;

 * postgresql://postgres:***@localhost:5432/Blockchain
135 rows affected.

[('Betty', 'Esparza'),
 ('Helen', 'Wheeler'),
 ('Tracy', 'Bradley'),
 ('Dorothy', 'Gagnon'),
 ('Daniel', 'Stoddard'),
 ('Brian', 'Byrnes'),
 ('Joseph', 'Macias'),
 ('Jacob', 'Valdez'),
 ('Bruce', 'Sumrall'),
 ('Thomas', 'Abelman'),
 ('Amanda', 'Choi'),
 ('Christopher', 'Kratz'),
 ('Mark', 'Brooks'),
 ('Andrew', 'Bryant'),
 ('Dana', 'Hernandez'),
 ('Gregory', 'Flores'),
 ('Barbara', 'Chavers'),
 ('Natasha', 'Smith'),
 ('Marcus', 'Sylvestre'),
 ('Rodney', 'Ward'),
 ('Nancy', 'Hicks'),
 ('Emerita', 'Green'),
 ('Clifford', 'Horn'),
 ('James', 'Records'),
 ('George', 'Thurgood'),
 ('Angelica', 'White'),
 ('Felicia', 'Pinegar'),
 ('Keith', 'Gifford'),
 ('Terry', 'Vasquez'),
 ('Cathi', 'Glass'),
 ('Elizabeth', 'Garcia'),
 ('Herbert', 'Wolcott'),
 ('Brian', 'Fox'),
 ('Ruth', 'Vang'),
 ('George', 'Weber'),
 ('Michael', 'Garza'),
 ('Kim', 'Newman'),
 ('Gary', 'Lorensen'),
 ('Marcella', 'Palmer'),
 ('Lesley', 'Robbins'),
 ('Thomas', 'Avina'),
 ('Megan', 'Figueroa'),
 ('Dolores', 'Lloyd'),
 ('Jose', 'Goatley'),
 ('Sandra', 'Haynes'),
 ('Gail', 'Gosnell'),
 ('Rose', 'Stenn'),
 ('Rosa', 'Porter'),
 ('Sheri', 'Greenough'),
 ('Frank', 'Wooden'),
 ('Christina', 'Randle'),
 ('Jeffery', 'Aleman'),
 ('Doris', 'Williams'),
 ('Andrew', 'Higgins'),
 ('Trevor', 'Bynum'),
 ('Amanda', 'Green'),
 ('John', 'Stoute'),
 ('Peter', 'Singleton'),
 ('Michelle', 'Riston'),
 ('Barbara', 'Stoneking'),
 ('Alma', 'Tomsic'),
 ('Edna', 'Lindsey'),
 ('Allen', 'Lombardo'),
 ('William', 'Johnson'),
 ('William', 'Ladner'),
 ('Joy', 'Still'),
 ('Grover', 'Garcia'),
 ('Stephen', 'Thuringer'),
 ('Allison', 'Parker'),
 ('Terry', 'Moua'),
 ('Chad', 'Turner'),
 ('Dustin', 'Wyatt'),
 ('Brenda', 'Sweeney'),
 ('Peter', 'Vegter'),
 ('Gerald', 'Stanley'),
 ('Mildred', 'Davis'),
 ('Jose', 'Thomas'),
 ('Ila', 'Claycomb'),
 ('Charles', 'Alexander'),
 ('Daniel', 'Jackson'),
 ('Howard', 'Scott'),
 ('Michael', 'Herbert'),
 ('Stephanie', 'Gene'),
 ('Terrance', 'Wynn'),
 ('Portia', 'Grant'),
 ('Aaron', 'Rudnick'),
 ('Marilyn', 'Johnston'),
 ('Karen', 'Johnsen'),
 ('Sherie', 'Nilson'),
 ('Joyce', 'Joseph'),
 ('Joan', 'Green'),
 ('Michael', 'Shield'),
 ('Patricia', 'Hughes'),
 ('Josefina', 'Shelton'),
 ('Mary', 'Hardman'),
 ('Jesse', 'Rooks'),
 ('Jonathan', 'Parks'),
 ('John', 'Ruppert'),
 ('Ginger', 'Chapa'),
 ('Melissa', 'Braun'),
 ('Leo', 'Howard'),
 ('Janice', 'Stephenson'),
 ('Joseph', 'Thuss'),
 ('Barbara', 'Patterson'),
 ('Andrea', 'Ware'),
 ('Ruth', 'Bennett'),
 ('Noah', 'Baird'),
 ('Lorenzo', 'Sapienza'),
 ('Bobby', 'Roberts'),
 ('Marion', 'Valdez'),
 ('Richard', 'Wallace'),
 ('Cheryl', 'Parker'),
 ('Robert', 'Quinlan'),
 ('Shane', 'Dyer'),
 ('Rebecca', 'Ash'),
 ('Stephen', 'Harty'),
 ('James', 'Reynolds'),
 ('Marlon', 'Foster'),
 ('Bill', 'Manis'),
 ('Keith', 'Counts'),
 ('Tiffany', 'Vandiver'),
 ('Howard', 'Lawrence'),
 ('Veronica', 'Githens'),
 ('Paula', 'Rodriguez'),
 ('Christopher', 'Carter'),
 ('Melissa', 'Jobson'),
 ('Mike', 'Gruska'),
 ('Katherine', 'Everett'),
 ('David', 'Worthington'),
 ('Lisa', 'Rubio'),
 ('Bonnie', 'Wolf'),
 ('Cris', 'Whitford'),
 ('Jeanie', 'Alvarez'),
 ('Charles', 'Oconnor'),
 ('Jack', 'Porter')]

### Consulta 7
**Top 4 NFTs más caros actualmente de un id_tipo X .**

Ejemplo:

|NFT | 
|--------|
|Minecraft Sphere | 
|The Binary Girl |
|Koalas in Love | 
|Art Dodger | 

**Solución:** Primero anidamos una consulta, donde escogemos los precios actuales de todos los NFT. Esto a través de un GROUP BY, y en el SELECT elegimos con MAX la fecha mas reciente. Luego, hacemos un INNER JOIN con el precio nuevamente (para poder obtener el precio en esa fecha), también un INNER JOIN con nft, para obtener el id_tipo correspondiente al id del nft, y hacemos un ultimo INNER JOIN con tipos_nft para obtener el tipo correspondiente. Finalmente, ponemos una condicion en la cual el nombre del tipo debe ser 'Juegos' (puede ser cambiado, este es el id_tipo X). Finalmente ordenamos por precio y lo limitamos a 4, para obtener los 4 mayores

In [46]:
%%sql

SELECT nft.nombre AS "NFT"
FROM(
	SELECT precio_nft.id_nft,  MAX(precio_nft.fecha) AS "ultimafecha"
	FROM precio_nft
	GROUP BY precio_nft.id_nft) AS lastdate
	
	INNER JOIN precio_nft 
	ON precio_nft.fecha=lastdate.ultimafecha
	AND precio_nft.id_nft = lastdate.id_nft
	
	INNER JOIN nft
	ON precio_nft.id_nft=nft.id_nft
	
	INNER JOIN tipos_nft
	ON tipos_nft.id_tipo=nft.id_tipo
WHERE tipos_nft.nombre= 'Juegos'
ORDER BY precio_nft.precio DESC
LIMIT 4;

 * postgresql://postgres:***@localhost:5432/Blockchain
4 rows affected.

[('Artistic Alpha',),
 ('Butterfly Dust',),
 ('Krypto Queen',),
 ('Nova Auroras',)]

### Consulta 8
**Los precios de todos los NFTs entre los años 2017 y 2019 inclusive.**

Ejemplo:

|NFT |Precio |
|----|---|
|Minecraft Sphere |  4000 |
|The Binary Girl | 3000| 
| Koalas in Love | 6000 |
|Minecraft Sphere |  1250 |
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [47]:
%%sql

SELECT nft.nombre AS "NFT", precio_nft.precio AS "Precio"
FROM precio_nft
	INNER JOIN nft
	ON precio_nft.id_nft = nft.id_nft
WHERE 
	EXTRACT(YEAR FROM precio_nft.fecha) BETWEEN 2017 AND 2019;

 * postgresql://postgres:***@localhost:5432/Blockchain
118 rows affected.

[('Busy Bats', 90800),
 ('Light Embrace', 32305),
 ('Cyberboxer', 17875),
 ('Non Fungible Nibbles', 84674),
 ('Enthusiastic Elephants', 87416),
 ('Nova Auroras', 75379),
 ('Koala Kickers', 62773),
 ('Blizz Blizzard', 49022),
 ('Mike Halloween Yodelers', 3396),
 ('Token Watchdogs', 78583),
 ('Rich Rhinos', 5552),
 ('Madame Witch', 99582),
 ('Crypto Club', 47308),
 ('White Storm', 58734),
 ('Crypto Art Gallery', 83021),
 ('Flame Cats', 89480),
 ('Nova Auroras', 96696),
 ('Visionary Crypto', 72344),
 ('Alice Wonderland Frozen Carolers', 68895),
 ('Koalas in Love', 9018),
 ('Headed Shark Attack', 21568),
 ('Panther NFT', 27091),
 ('Flame Cats', 30601),
 ('Mountain of Clouds', 15402),
 ('Doge Pal', 33266),
 ('Healthy Hedgehogs', 56682),
 ('Dust Sifter', 71961),
 ('Butterfly Dust', 93157),
 ('Crypto Club', 86787),
 ('Crypto Jackpot', 34959),
 ('NFT Lord', 45688),
 ('Bitsy', 7089),
 ('Crypto Kitties', 35792),
 ('Crypto Kitties Of War', 61873),
 ('Meteorite NFT', 28302),
 ('Crypto Boom', 62761),
 ('United Crypto Token (UCT)', 89543),
 ('Bling Bits', 34929),
 ('Dose of Art', 7494),
 ('Anna Frozen Entertainers', 21977),
 ('Dust Sifter', 32474),
 ('Reflected Light', 84467),
 ('Clever Chimp', 68000),
 ('Silver Lining Pixy', 36078),
 ('Touchdown', 67352),
 ('The Binary Girl', 86285),
 ('Flame Stinger', 28688),
 ('Artful Antlers', 93479),
 ('Bee Token', 31876),
 ('Lucky Lizards', 37257),
 ('Bit NFT', 34484),
 ('Dark Horse Lady', 70173),
 ('Phonetic Phoenix', 32339),
 ('Awesome Concept', 32968),
 ('Crypto Kitties Of War', 46100),
 ('Blue Mood Chip', 34173),
 ('Cryptokitty Ville', 66545),
 ('The Binary Girl', 94233),
 ('Dark Horse Lady', 92504),
 ('Art Rumble', 85507),
 ('Fantasy Token', 22151),
 ('Artful Antlers', 7326),
 ('Art Dodger', 77376),
 ('Visionary Crypto', 82108),
 ('Bee Token', 93627),
 ('Flame Cats', 97891),
 ('Fair Coin', 67920),
 ('Clever Chimp', 82258),
 ('Animated Hard Art', 40302),
 ('The Teacup Pomeranian', 72943),
 ('Arty Arts', 17420),
 ('Krypto Queen', 6112),
 ('United Crypto Token (UCT)', 71878),
 ('Busy Bats', 8668),
 ('Healthy Hedgehogs', 81263),
 ('Cryptokitty Ville', 39961),
 ('Meteorite NFT', 78544),
 ('Madame Witch', 81170),
 ('NFT Lord', 62921),
 ('Light Embrace', 47478),
 ('Koala Kickers', 72898),
 ('Crystalline Canyon', 43668),
 ('3D Me', 74042),
 ('Krypto Queen', 85623),
 ('Elephant Treasure Hunt', 18144),
 ('Cyberboxer', 17320),
 ('1-Love', 79242),
 ('Butterfly Dust', 5908),
 ('Minecraft Sphere', 49204),
 ('Futuristic Realism', 79134),
 ('Thunder NFT', 66240),
 ('Dark Horse Lady', 78859),
 ('Artistic Alpha', 92335),
 ('Crypto Raptors', 90973),
 ('Outstanding Octopus', 5396),
 ('Dark Horse Lady', 78113),
 ('Dreamy Imaginations', 35860),
 ('0NOCH0', 38361),
 ('Crypto Potato', 69327),
 ('Elite Fur Dog Race Club', 85767),
 ('Crypto Life', 74716),
 ('Rich Rhinos', 95350),
 ('Non Fungible Nibbles', 89660),
 ('Phonetic Phoenix', 6352),
 ('Dust Sifter', 20189),
 ('Crypto Raptors', 26460),
 ('Ultimate League Of Paragon', 59127),
 ('1NiTRO', 94995),
 ('The Binary Girl', 81482),
 ('Minecraft Sphere', 50519),
 ('Dreamy Imaginations', 17701),
 ('Crypto Life', 1890),
 ('Cryptonaut', 86975),
 ('Touchdown', 49376),
 ('Addictive Animals', 79620),
 ('Couch Potato', 94730),
 ('Midas NFTs', 73433),
 ('Token Watchdogs', 14124)]

### Consulta 9 
**Creador al cual le han comprado más NFTs.**

Ejemplo:
   
|Nombre |Apellido |Cantidad |
|-|--|-----|
| Levi |Ackerman |32|

**Solución:** _Escriba aquí la descripción de su solución._

In [48]:
%%sql

SELECT Tabla.nombre AS "Nombre", Tabla.apellido AS "Apellido", COUNT(Tabla.nombre) AS "Cantidad"
FROM (
    SELECT Creadores.ID_creador, NFT.ID_nft, Creadores.nombre, Creadores.apellido
    FROM NFT INNER JOIN Creadores ON NFT.ID_creador = Creadores.ID_creador
    GROUP BY Creadores.ID_creador, NFT.ID_nft
    ) AS Tabla
    INNER JOIN Usuario_tiene_NFT ON Tabla.id_nft = Usuario_tiene_NFT.id_nft
GROUP BY Tabla.nombre, Tabla.apellido
ORDER BY COUNT(Tabla.nombre) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[('Joey', 'Moreno', 7)]

### Consulta 10  
**El NFT con mayor precio actual, que pertenezca a un creador X.**

Ejemplo:
   
|NFT |Valor|
|-|-------|
|Minecraft Sphere |18000|

**Solución:** _Escriba aquí la descripción de su solución._

In [49]:
%%sql

SELECT nft.nombre AS "NFT", precio_nft.precio AS "Valor"
 FROM
	(SELECT id_nft, MAX(fecha) AS "ultimafecha"
	 FROM precio_nft
	 GROUP BY id_nft) AS lastprice

	INNER JOIN precio_nft 
	ON lastprice.ultimafecha= precio_nft.fecha 
	AND lastprice.id_nft = precio_nft.id_nft

	INNER JOIN nft
	ON lastprice.id_nft =nft.id_nft

	INNER JOIN creadores
	ON creadores.id_creador = nft.id_creador
WHERE creadores.nombre='John'
ORDER BY precio_nft.precio DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
0 rows affected.

[]

### Consulta BONUS
###### (Vale por un abrazo psicológico)

**El usuario que posee más dinero en NFTs considerando los precios actuales de estos**

Ejemplo:
   
|Usuario |Dinero|
|-|-------|
|Levi Ackerman |8000001|

**Solución:** _Escriba aquí la descripción de su solución._

In [50]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';

 * postgresql://postgres:***@localhost:5432/Blockchain
0 rows affected.

[]