# Tarea 1 Bases de Datos 2022-1 Grupo XX

_Recuerde modificar esta celda y la siguiente! (Borre esta línea también)._

## Integrantes:
* Maciel Ripetti - 202073099-7
* Bryan Gonzalez - 202073052-0
* Nicolás Paz - 202073107-1

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (recuerde actualizar pip3):

In [2]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in c:\python39\lib\site-packages (0.4.0)
Requirement already satisfied: six in c:\python39\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in c:\python39\lib\site-packages (from ipython-sql) (8.1.1)
Requirement already satisfied: sqlparse in c:\python39\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: prettytable<1 in c:\python39\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\python39\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\python39\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: pygments>=2.4.0 in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: traitlets>=5 in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: stack-data in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.16 in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: backcall in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.28)
Requirement already satisfied: setuptools>=18.5 in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (56.0.0)
Requirement already satisfied: decorator in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: greenlet!=0.4.17 in c:\python39\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\python39\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\python39\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens in c:\python39\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\python39\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\python39\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: sqlalchemy in c:\python39\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\python39\lib\site-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: psycopg2 in c:\python39\lib\site-packages (2.9.3)
Requirement already satisfied: names in c:\python39\lib\site-packages (0.3.0)

## Importar dependencias

In [3]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [4]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:12345@localhost:5432/Blockchain

env: DATABASE_URL=postgresql://postgres:12345@localhost:5432/Blockchain

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [5]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='Blockchain',
   password="12345"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x000001EC07C406A0; dsn: 'user=postgres password=xxx dbname=Blockchain host=localhost', closed: 0>

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Usuarios"

In [6]:
%%sql

CREATE TABLE Usuarios(
    ID_usuario INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR (45) NOT NULL,
    apellido VARCHAR (45),
    correo VARCHAR (45) NOT NULL,
    contraseña VARCHAR(50) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,
    PRIMARY KEY(ID_usuario)
);

(psycopg2.errors.DuplicateTable) la relación «usuarios» ya existe

[SQL: CREATE TABLE Usuarios( ID_usuario INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR (45) NOT NULL,
    apellido VARCHAR (45),
    correo VARCHAR (45) NOT NULL,
    contraseña VARCHAR(50) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,
    PRIMARY KEY(ID_usuario)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Creadores"

In [7]:
%%sql

CREATE TABLE Creadores(
    Id_creador INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45) NOT NULL,
    popularidad INTEGER,
    estilo VARCHAR(45),
    PRIMARY KEY(Id_creador)
);

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «creadores» ya existe

[SQL: CREATE TABLE Creadores( Id_creador INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45) NOT NULL,
    popularidad INTEGER,
    estilo VARCHAR(45),
    PRIMARY KEY(Id_creador)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Tipos_NTF"

In [8]:
%%sql

CREATE TABLE Tipos_NFT(
    ID_tipo INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(20) NOT NULL,
    PRIMARY KEY(ID_tipo)
);

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «tipos_nft» ya existe

[SQL: CREATE TABLE Tipos_NFT( ID_tipo INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(20) NOT NULL,
    PRIMARY KEY(ID_tipo)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "NFT"

In [9]:
%%sql

CREATE TABLE NFT(
    ID_nft INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    ID_creador INTEGER NOT NULL,
    FOREIGN KEY (ID_creador) REFERENCES Creadores(ID_creador),
    id_tipo INTEGER,
    FOREIGN KEY(ID_tipo) REFERENCES Tipos_NFT(ID_tipo),
    PRIMARY KEY(ID_nft)

);

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «nft» ya existe

[SQL: CREATE TABLE NFT( ID_nft INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    ID_creador INTEGER NOT NULL,
    FOREIGN KEY (ID_creador) REFERENCES Creadores(ID_creador),
    id_tipo INTEGER,
    FOREIGN KEY(ID_tipo) REFERENCES Tipos_NFT(ID_tipo),
    PRIMARY KEY(ID_nft)

);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Precio NFT"

In [10]:
%%sql

CREATE TABLE Precio_NFT(
    ID_nft INTEGER,
    FOREIGN KEY (ID_nft) REFERENCES NFT(id_nft),
    fecha TIMESTAMP NOT NULL,
    precio INTEGER NOT NULL,
    PRIMARY KEY(id_nft, fecha)
);

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «precio_nft» ya existe

[SQL: CREATE TABLE Precio_NFT( ID_nft INTEGER,
    FOREIGN KEY (ID_nft) REFERENCES NFT(id_nft),
    fecha TIMESTAMP NOT NULL,
    precio INTEGER NOT NULL,
    PRIMARY KEY(id_nft, fecha)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Usuario tiene NFT"

In [11]:
%%sql

CREATE TABLE Usuario_tiene_NFT(
    id_usuario INTEGER,
    id_nft INTEGER,

    FOREIGN KEY (id_usuario) REFERENCES Usuarios(id_usuario),
    FOREIGN KEY (id_nft) REFERENCES NFT(id_nft),

    PRIMARY KEY (id_usuario, id_nft)


);

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «usuario_tiene_nft» ya existe

[SQL: CREATE TABLE Usuario_tiene_NFT( id_usuario INTEGER,
    id_nft INTEGER,

    FOREIGN KEY (id_usuario) REFERENCES Usuarios(id_usuario),
    FOREIGN KEY (id_nft) REFERENCES NFT(id_nft),

    PRIMARY KEY (id_usuario, id_nft)


);]
(Background on this error at: https://sqlalche.me/e/14/f405)

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [12]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_password():
    return ''.join(r.choice(string.ascii_uppercase + string.digits) for x in range(15))

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE usuarios, creadores, tipos_nft, nft, precio_nft, usuario_tiene_nft RESTART IDENTITY"
cursor.execute(query)
connection.commit()


print("Generando Datos...")

nft_names = ['Crypto Raptors', 'The Binary Girl', 'Sphere Art', 'Fight Punks', 'Thunder NFT', 'Artistic Alpha', 'Digital Unicorns', 'Bling Bits', 'Secret Stones', 'Crypto Potato', 'Futuristic Realism', 'Nova Auroras', 'Dreamy Imaginations', 'Reflected Light', 'Spells of Genesis', 'Crypto Felines', 'Dose of Art', 'To The Moon', 'Artful Antlers', 
'Butterfly Dust', 'Depressed Dragons', 'Crypto Diamonds', 'Healthy Hedgehogs', 'Crypto Jackpot', 'Minecraft Sphere', 'Crypto Boom', 'Lucky Lizards', 'Rockin Crypto', 'Crystalline Canyon', 'Koala Kickers', 'Clumsy Crocodiles', 'Mountain of Clouds', 'Blizz Blizzard', 'Cryptokitty Ville', 'Cryptonaut', 'Mike Halloween Yodelers', 'The Teacup Pomeranian', 
'Art Dodger', 'Awesome Concept', 'Aliens Abduction', 'Animated Hard Art', 'Ultimate Iconic Crypto (IUC)', 'Hilarious Horses', '1-Love', '0NOZER0', 'Meteorite NFT', 'Bee Token', 'Elephant Treasure Hunt', 'Crypto Life', '1NiTRO', 'Dust Rift', 'Tokenized Superheroes', 'Techno Abstract Aesthetics', 'Digi Gods', 'Outstanding Octopus', 'Panther NFT', 
'Cypherpunk Samurai', 'Rich Rhinos', 'Crypto Punked', 'Funny Frogs', 'Bit NFT', 'Phonetic Phoenix', 'Flame Stinger', 'Fight For The Title', 'Koalas in Love', 'Touchdown', 'Resilient Rats', 'Bloom of Flowers', 'NFT Lord', 'Fair Coin', 'Art Rumble', 'Light Embrace', 'Crypto Bunny Ranch', 'Crypto Pigeon Race', 'Water Wiggle', 'Wowoo World', 
'Crypto Club', 'Crypto Kitties Of War', 'Visionary Crypto', 'Women Power', 'Rainbows Ends', 'Cards of Polo', 'Crypto Kitties', 'Busy Bats', '0xHile', 'Token Watchdogs', 'Non Fungible Nibbles', 'Pandamonium', '3D Me', 'Midas NFTs', 'Graceful Gorillas', 'United Crypto Token (UCT)', 'Crypto Art Gallery', 'Dark Horse Lady', 'Block View', 'Arty Arts', 
'White Storm', 'Krypto Queen', 'Clever Chimp', 'Qat Tree Unicorn', 'Anna Frozen Entertainers', 'Artificial Rocks', '0NOCH0', 'Flame Blade', 'The Gold Betta', 'Doge Pal', 'Elite Fur Dog Race Club', 'Dust Sifter', 'Moonlit Butterfly', 'Art Lover Box', 'Madame Witch', 'Fantasy Token', 'Bitsy', 'Hive City', 'Couch Potato', 'Burger Bits', 'Crypto Potluck', 
'Cyberboxer', 'Calm Crows', 'Crumbs NFT', 'Mint Chocolates', 'Atollon Coral', 'Dapper Dinos', 'Flame Cats', 'Addictive Animals', 'Alice Wonderland Frozen Carolers', 'Coin Dance', 'Giant Coin', 'Silver Lining Pixy', 'Headed Shark Attack', 'Ultimate League Of Paragon', 'Darker Clouds', 'Blue Mood Chip', 'Brush Point', 'Enthusiastic Elephants', 'Ultra Cool Dogs', 
'Pink Sports Cars']

dominios = ["hola.cl", "google.com","usm.cl","prestigio.usm.cl","crypto.co","basededatos.top"]

tipos_nft = [
    ("Imagen",), ("Musica",),("Juegos",), ("Modelo 3D",), ("Pixel",), ("Membresia",),("Arte",),
]

estilos = [
    ("Anime",),("Manga",),("Arte Retro",),("Arte Moderno",),("Impresionismo",),("Barroco",),("Arte Antiguo",),("Arte 3D",),("Paisaje",)
]

n_usuarios = 200
n_creadores = 20
n_nft = len(nft_names)
n_tipos_nft = len(tipos_nft)
n_usuario_tiene_nft = 80

usuarios = []
for _ in range(1, n_usuarios+1):
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    correo = nombre.lower()+"."+apellido[:4].lower()+"@"+r.choice(dominios)
    usuarios.append((nombre,apellido,correo,generate_password(),generate_timestamp()))

creadores = [(names.get_first_name(), names.get_last_name(), r.randint(0,5), r.choice(estilos)) for _ in range(1,n_creadores+1)]

nft = [(nft_names[n], r.randint(1,n_creadores), r.randint(1,n_tipos_nft)) for n in range(n_nft)]

precio_nft = [(r.randint(1,n_nft), generate_timestamp(), r.randint(500, 100000)) for _ in range(300)]

usuario_tiene_nft = [(r.randint(1,n_usuarios),r.randint(1,n_nft)) for _ in range(81)]


insert = [
    "INSERT INTO usuarios (nombre, apellido, correo, contraseña, fecha_registro) VALUES (%s, %s, %s, %s, %s)",
    "INSERT INTO creadores (nombre, apellido, popularidad, estilo) VALUES (%s, %s, %s, %s)",
    "INSERT INTO tipos_nft (nombre) VALUES (%s)",
    "INSERT INTO nft (nombre, id_creador, id_tipo) VALUES (%s, %s, %s)",
    "INSERT INTO precio_nft (id_nft, fecha, precio) VALUES (%s, %s, %s)",
    "INSERT INTO usuario_tiene_nft (id_usuario, id_nft) VALUES (%s, %s)"
]


for usuario in usuarios:
    cursor.execute(insert[0], usuario)

for creador in creadores:
    cursor.execute(insert[1], creador) 

for tipo in tipos_nft:
    cursor.execute(insert[2], tipo)  

for n in nft:
    cursor.execute(insert[3], n)  
    
for precio in precio_nft:
    cursor.execute(insert[4], precio) 
    
for usr in usuario_tiene_nft:
    cursor.execute(insert[5], usr)
    
connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

### Consulta 1
**ID y Nombre del creador de un estilo X con mayor popularidad.**

Ejemplo:

|Id |  Creador      |
|---|-----------|
| 12 |Levi Ackerman |
| ...| ...          |

**Solución:** _Escriba aquí la descripción de su solución._

In [13]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.SyntaxError) error de sintaxis en o cerca de «%%»
LINE 3: %%sql
        ^

[SQL: /* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%%%sql
SELECT
    *
FROM
    Creadores
WHERE
    nombre = 'WillyRex';]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Consulta 2
**Cantidad de precios que a tenido cada NTF.**

Ejemplo:


| NFT     | Cantidad de precios |
|--------------|----------|
| Minecraft Sphere |    3     |
| The Binary Girl     |    7     |
| ...          |   ...    |

**Solución:** _Escriba aquí la descripción de su solución._

In [14]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';

 * postgresql://postgres:***@localhost:5432/Blockchain
0 rows affected.

[]

### Consulta 3
**El nombre y tipo (nombre del tipo) del NFT más caro.**

Ejemplo:

| NFT    | Tipo | 
|----------------|--------|
| Minecraft Sphere| Arte 3D |

**Solución:** _Escriba aquí la descripción de su solución._

In [15]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';

 * postgresql://postgres:***@localhost:5432/Blockchain
0 rows affected.

[]

### Consulta 4
**Nombre y apellido del usuario con más numero de NFT.**

Ejemplo:

| Nombre     | Apellido |
|----------------|--------|
| Levi | Ackerman |

**Solución:** _Escriba aquí la descripción de su solución._

In [16]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';

 * postgresql://postgres:***@localhost:5432/Blockchain
0 rows affected.

[]

### Consulta 5
**El NFT con más cambió en el precio en un año X.**

Ejemplo:

|  ID  | NFT | 
|--------|-------|
| 11 |Minecraft Sphere | 

**Solución:** Se selecciona el precio del nft y su nombre, esto desde una tabla provisoria creada con un inner join, esto debido a que debemos asignarle un nombre a cada ID que aparezca en la tabla de precios_nft (esta no cuenta con esa informacion). Posterior a esto, especificamos con un WHERE que queremos que el año sea 2018 en este caso (puede ser cambiado por el ayudante si asi lo desea). Luego con el GROUP BY juntamos todas las filas que contengan el mismo nombre e id, y luego ordenamos en funcion de COUNT (esta funcion nos indica cuantas filas con la misma id hay, en este caso) descendentemente. Finalmente lo limitamos a 1 ya que nos piden solamente el que mas se repite. En caso de que haya mas de uno, solo escoge el primero sin ningun criterio en particular.

In [17]:
%%sql

SELECT precio_nft.id_nft AS "ID", nft.nombre AS "NFT"
    
FROM
	 nft
	INNER JOIN precio_nft ON nft.id_nft=precio_nft.id_nft
WHERE
	EXTRACT(YEAR FROM fecha)=2018
GROUP BY  precio_nft.id_nft,nft.nombre
ORDER BY COUNT(precio_nft.id_nft) DESC
LIMIT 1

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[(33, 'Blizz Blizzard')]

### Consulta 6
**Usuarios que NO tienen un nft.**

Ejemplo

|Nombre | Apellido|
|--------|-------|
|Guillermo    | Dias |
|Markus | Person |
|... | ...| 

**Solución:** _Escriba aquí la descripción de su solución._

In [18]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';

 * postgresql://postgres:***@localhost:5432/Blockchain
0 rows affected.

[]

### Consulta 7
**Top 4 NFT más caros de un id_tipo X .**

Ejemplo:

|NFT | 
|--------|
|Minecraft Sphere | 
|The Binary Girl |
|Koalas in Love | 
|Art Dodger | 

**Solución:** _Escriba aquí la descripción de su solución._

In [19]:
%%sql
SELECT nft.nombre AS "NFT"
FROM(
	SELECT precio_nft.id_nft,  MAX(precio_nft.fecha) AS "ultimafecha"
	FROM precio_nft
	GROUP BY precio_nft.id_nft) AS lastdate
	
	INNER JOIN precio_nft 
	ON precio_nft.fecha=lastdate.ultimafecha
	AND precio_nft.id_nft = lastdate.id_nft
	
	INNER JOIN nft
	ON precio_nft.id_nft=nft.id_nft
	
	INNER JOIN tipos_nft
	ON tipos_nft.id_tipo=nft.id_tipo
WHERE tipos_nft.nombre= 'Juegos'
ORDER BY precio_nft.precio DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[('The Teacup Pomeranian',)]

### Consulta 8
**Los precios de todos los NFT entre los años 2017 y 2019 inclusive.**

Ejemplo:

|NFT |Precio |
|----|---|
|Minecraft Sphere |  4000 |
|The Binary Girl | 3000| 
| Koalas in Love | 6000 |
|Minecraft Sphere |  1250 |
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [20]:
%%sql

SELECT nft.nombre AS "NFT", precio_nft.precio AS "Precio"
FROM precio_nft
	INNER JOIN nft
	ON precio_nft.id_nft = nft.id_nft
WHERE 
	EXTRACT(YEAR FROM precio_nft.fecha) BETWEEN 2017 AND 2019;

 * postgresql://postgres:***@localhost:5432/Blockchain
108 rows affected.

[('Crypto Raptors', 16889),
 ('Crypto Raptors', 54282),
 ('The Binary Girl', 86464),
 ('Sphere Art', 95642),
 ('Fight Punks', 6651),
 ('Fight Punks', 63709),
 ('Thunder NFT', 3289),
 ('Thunder NFT', 35227),
 ('Artistic Alpha', 96957),
 ('Digital Unicorns', 69101),
 ('Digital Unicorns', 17924),
 ('Bling Bits', 35873),
 ('Secret Stones', 13727),
 ('Crypto Potato', 6301),
 ('Nova Auroras', 52558),
 ('Dreamy Imaginations', 42657),
 ('Spells of Genesis', 86485),
 ('Crypto Felines', 11464),
 ('Dose of Art', 25341),
 ('Dose of Art', 78000),
 ('To The Moon', 28583),
 ('Butterfly Dust', 99351),
 ('Depressed Dragons', 62504),
 ('Crypto Diamonds', 37046),
 ('Crypto Jackpot', 55514),
 ('Crypto Jackpot', 71164),
 ('Minecraft Sphere', 11684),
 ('Crypto Boom', 67632),
 ('Crypto Boom', 22307),
 ('Lucky Lizards', 29103),
 ('Clumsy Crocodiles', 68813),
 ('Blizz Blizzard', 44799),
 ('Blizz Blizzard', 6392),
 ('Blizz Blizzard', 54008),
 ('Mike Halloween Yodelers', 74963),
 ('The Teacup Pomeranian', 71760),
 ('Aliens Abduction', 42927),
 ('Aliens Abduction', 23012),
 ('Animated Hard Art', 18303),
 ('Hilarious Horses', 36016),
 ('1-Love', 40075),
 ('Meteorite NFT', 68398),
 ('Meteorite NFT', 73249),
 ('Meteorite NFT', 8361),
 ('Bee Token', 46267),
 ('Elephant Treasure Hunt', 13806),
 ('Elephant Treasure Hunt', 97304),
 ('Crypto Life', 13002),
 ('Techno Abstract Aesthetics', 13825),
 ('Panther NFT', 23790),
 ('Rich Rhinos', 17085),
 ('Rich Rhinos', 38948),
 ('Funny Frogs', 44588),
 ('Funny Frogs', 41649),
 ('Phonetic Phoenix', 50127),
 ('Phonetic Phoenix', 89245),
 ('Flame Stinger', 48381),
 ('Fight For The Title', 15968),
 ('Koalas in Love', 42166),
 ('Touchdown', 97278),
 ('Bloom of Flowers', 71450),
 ('Bloom of Flowers', 1058),
 ('Art Rumble', 7854),
 ('Crypto Pigeon Race', 38950),
 ('Crypto Pigeon Race', 18248),
 ('Water Wiggle', 76070),
 ('Crypto Club', 44998),
 ('Crypto Club', 48208),
 ('Visionary Crypto', 70918),
 ('Rainbows Ends', 42340),
 ('Cards of Polo', 24704),
 ('0xHile', 21316),
 ('0xHile', 20179),
 ('Token Watchdogs', 64609),
 ('Token Watchdogs', 16635),
 ('Token Watchdogs', 23349),
 ('Pandamonium', 45530),
 ('Graceful Gorillas', 48170),
 ('Dark Horse Lady', 71911),
 ('Arty Arts', 74325),
 ('Arty Arts', 90448),
 ('Qat Tree Unicorn', 47571),
 ('Artificial Rocks', 4738),
 ('Artificial Rocks', 53195),
 ('The Gold Betta', 92734),
 ('Doge Pal', 61984),
 ('Elite Fur Dog Race Club', 30822),
 ('Elite Fur Dog Race Club', 69654),
 ('Art Lover Box', 51125),
 ('Madame Witch', 16622),
 ('Fantasy Token', 16665),
 ('Couch Potato', 4727),
 ('Burger Bits', 34884),
 ('Burger Bits', 22904),
 ('Burger Bits', 55342),
 ('Calm Crows', 42026),
 ('Calm Crows', 97922),
 ('Calm Crows', 20871),
 ('Crumbs NFT', 35381),
 ('Atollon Coral', 46676),
 ('Dapper Dinos', 20183),
 ('Headed Shark Attack', 21403),
 ('Ultimate League Of Paragon', 24415),
 ('Darker Clouds', 69581),
 ('Darker Clouds', 89443),
 ('Enthusiastic Elephants', 75699),
 ('Ultra Cool Dogs', 64207),
 ('Pink Sports Cars', 89857)]

### Consulta 9 
**Creador al cual le han comprado más NFT's.**

Ejemplo:
   
|Nombre |Apellido |Cantidad |
|-|--|-----|
| Levi |Ackerman |32|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';

### Consulta 10  
**El mayor valor actual de un NFT que pertenezca al creado con mayor popularidad.**

Ejemplo:
   
|NFT |Valor|
|-|-------|
|Minecraft Sphere |18000|

**Solución:** Comenzando de adentro hacia afuera, tenemos 2 anidaciones en total. En la mas interior, se genera una tabla-consulta con los precios solamente del año mas nuevo, esto a traves de un GROUP BY del id_nft, usando MAX para encontrar la fecha mayor(que sería la actual). Posterior a esto, hacemos un INNER JOIN entre la tabla que acabamos de crear, precio_nft, nft y los creadores. Todo esto para poder conectar la popularidad de los creadores con el precio, ya que estos no estan directamente conectados. Luego, ordenamos en forma descendente en funcion de la popularidad y el precio, asi quedandonos los que tienen mayor popularidad arriba junto con los que tienen mayor precio. Por lo tanto, siempre la consulta resultara en el NFT que tenga mayor precio por parte del creador con mayor popularidad (si hay mas de un creador con la misma popularidad, se entregara el NFT que tenga mayor precio).

In [25]:
%%sql

SELECT nft.nombre AS nombre, precio_nft.precio AS Valor
 FROM
	(SELECT id_nft, MAX(fecha) AS "ultimafecha"
	 FROM precio_nft
	 GROUP BY id_nft) AS lastprice

	INNER JOIN precio_nft 
	ON lastprice.ultimafecha= precio_nft.fecha 
	AND lastprice.id_nft = precio_nft.id_nft

	INNER JOIN nft
	ON lastprice.id_nft =nft.id_nft

	INNER JOIN creadores
	ON creadores.id_creador = nft.id_creador
ORDER BY creadores.popularidad DESC, precio_nft.precio DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[('Crumbs NFT', 91002)]