# Tarea 1 Bases de Datos 2022-1 Grupo 23

## Integrantes:
* Maciel Ripetti - 202073099-7
* Bryan Gonzalez - 202073052-0
* Nicolás Paz - 202073107-1

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (recuerde actualizar pip3):

In [38]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in f:\python\lib\site-packages (0.4.0)
Requirement already satisfied: sqlparse in f:\python\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython>=1.0 in f:\python\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: six in f:\python\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in f:\python\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in f:\python\lib\site-packages (from ipython-sql) (1.4.34)
Requirement already satisfied: prettytable<1 in f:\python\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: jedi>=0.16 in f:\python\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: backcall in f:\python\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in f:\python\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.28)
Requirement already satisfied: colorama in f:\python\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: matplotlib-inline in f:\python\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: pickleshare in f:\python\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments>=2.4.0 in f:\python\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: decorator in f:\python\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: traitlets>=5 in f:\python\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in f:\python\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in f:\python\lib\site-packages (from ipython>=1.0->ipython-sql) (58.1.0)
Requirement already satisfied: greenlet!=0.4.17 in f:\python\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in f:\python\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in f:\python\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: executing in f:\python\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in f:\python\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in f:\python\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: sqlalchemy in f:\python\lib\site-packages (1.4.34)
Requirement already satisfied: greenlet!=0.4.17 in f:\python\lib\site-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: psycopg2 in f:\python\lib\site-packages (2.9.3)
Requirement already satisfied: names in f:\python\lib\site-packages (0.3.0)

## Importar dependencias

In [39]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [40]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:12345@localhost:5432/Blockchain

env: DATABASE_URL=postgresql://postgres:12345@localhost:5432/Blockchain

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [41]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='Blockchain',
   password="12345"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x00000130C3184590; dsn: 'user=postgres password=xxx dbname=Blockchain host=localhost', closed: 0>

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Usuarios"

In [42]:
%%sql

CREATE TABLE Usuarios(
    ID_usuario INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR (45) NOT NULL,
    apellido VARCHAR (45),
    correo VARCHAR (45) NOT NULL,
    contraseña VARCHAR(50) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,
    PRIMARY KEY(ID_usuario)
)

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «usuarios» ya existe

[SQL: CREATE TABLE Usuarios( ID_usuario INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR (45) NOT NULL,
    apellido VARCHAR (45),
    correo VARCHAR (45) NOT NULL,
    contraseña VARCHAR(50) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,
    PRIMARY KEY(ID_usuario)
)]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Creadores"

In [43]:
%%sql

CREATE TABLE Creadores(
    Id_creador INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45) NOT NULL,
    popularidad INTEGER,
    estilo VARCHAR(45),
    PRIMARY KEY(Id_creador)
)

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «creadores» ya existe

[SQL: CREATE TABLE Creadores( Id_creador INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45) NOT NULL,
    popularidad INTEGER,
    estilo VARCHAR(45),
    PRIMARY KEY(Id_creador)
)]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Tipos_NTF"

In [44]:
%%sql

CREATE TABLE Tipos_NFT(
    ID_tipo INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(20) NOT NULL,
    PRIMARY KEY(ID_tipo)
)

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «tipos_nft» ya existe

[SQL: CREATE TABLE Tipos_NFT( ID_tipo INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(20) NOT NULL,
    PRIMARY KEY(ID_tipo)
)]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "NFT"

In [45]:
%%sql

CREATE TABLE NFT(
    ID_nft INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    ID_creador INTEGER NOT NULL,
    FOREIGN KEY (ID_creador) REFERENCES Creadores(ID_creador),
    id_tipo INTEGER,
    FOREIGN KEY(ID_tipo) REFERENCES Tipos_NFT(ID_tipo),
    PRIMARY KEY(ID_nft)

)

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «nft» ya existe

[SQL: CREATE TABLE NFT( ID_nft INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    ID_creador INTEGER NOT NULL,
    FOREIGN KEY (ID_creador) REFERENCES Creadores(ID_creador),
    id_tipo INTEGER,
    FOREIGN KEY(ID_tipo) REFERENCES Tipos_NFT(ID_tipo),
    PRIMARY KEY(ID_nft)

)]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Precio NFT"

In [46]:
%%sql

CREATE TABLE Precio_NFT(
    ID_nft INTEGER,
    FOREIGN KEY (ID_nft) REFERENCES NFT(id_nft),
    fecha TIMESTAMP NOT NULL,
    precio INTEGER NOT NULL,
    PRIMARY KEY(id_nft, fecha)
)

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «precio_nft» ya existe

[SQL: CREATE TABLE Precio_NFT( ID_nft INTEGER,
    FOREIGN KEY (ID_nft) REFERENCES NFT(id_nft),
    fecha TIMESTAMP NOT NULL,
    precio INTEGER NOT NULL,
    PRIMARY KEY(id_nft, fecha)
)]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Usuario tiene NFT"

In [47]:
%%sql

CREATE TABLE Usuario_tiene_NFT(
    id_usuario INTEGER,
    id_nft INTEGER,

    FOREIGN KEY (id_usuario) REFERENCES Usuarios(id_usuario),
    FOREIGN KEY (id_nft) REFERENCES NFT(id_nft),

    PRIMARY KEY (id_usuario, id_nft)


)

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «usuario_tiene_nft» ya existe

[SQL: CREATE TABLE Usuario_tiene_NFT( id_usuario INTEGER,
    id_nft INTEGER,

    FOREIGN KEY (id_usuario) REFERENCES Usuarios(id_usuario),
    FOREIGN KEY (id_nft) REFERENCES NFT(id_nft),

    PRIMARY KEY (id_usuario, id_nft)


)]
(Background on this error at: https://sqlalche.me/e/14/f405)

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [48]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_password():
    return ''.join(r.choice(string.ascii_uppercase + string.digits) for x in range(15))

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE usuarios, creadores, tipos_nft, nft, precio_nft, usuario_tiene_nft RESTART IDENTITY"
cursor.execute(query)
connection.commit()


print("Generando Datos...")

nft_names = ['Crypto Raptors', 'The Binary Girl', 'Sphere Art', 'Fight Punks', 'Thunder NFT', 'Artistic Alpha', 'Digital Unicorns', 'Bling Bits', 'Secret Stones', 'Crypto Potato', 'Futuristic Realism', 'Nova Auroras', 'Dreamy Imaginations', 'Reflected Light', 'Spells of Genesis', 'Crypto Felines', 'Dose of Art', 'To The Moon', 'Artful Antlers', 
'Butterfly Dust', 'Depressed Dragons', 'Crypto Diamonds', 'Healthy Hedgehogs', 'Crypto Jackpot', 'Minecraft Sphere', 'Crypto Boom', 'Lucky Lizards', 'Rockin Crypto', 'Crystalline Canyon', 'Koala Kickers', 'Clumsy Crocodiles', 'Mountain of Clouds', 'Blizz Blizzard', 'Cryptokitty Ville', 'Cryptonaut', 'Mike Halloween Yodelers', 'The Teacup Pomeranian', 
'Art Dodger', 'Awesome Concept', 'Aliens Abduction', 'Animated Hard Art', 'Ultimate Iconic Crypto (IUC)', 'Hilarious Horses', '1-Love', '0NOZER0', 'Meteorite NFT', 'Bee Token', 'Elephant Treasure Hunt', 'Crypto Life', '1NiTRO', 'Dust Rift', 'Tokenized Superheroes', 'Techno Abstract Aesthetics', 'Digi Gods', 'Outstanding Octopus', 'Panther NFT', 
'Cypherpunk Samurai', 'Rich Rhinos', 'Crypto Punked', 'Funny Frogs', 'Bit NFT', 'Phonetic Phoenix', 'Flame Stinger', 'Fight For The Title', 'Koalas in Love', 'Touchdown', 'Resilient Rats', 'Bloom of Flowers', 'NFT Lord', 'Fair Coin', 'Art Rumble', 'Light Embrace', 'Crypto Bunny Ranch', 'Crypto Pigeon Race', 'Water Wiggle', 'Wowoo World', 
'Crypto Club', 'Crypto Kitties Of War', 'Visionary Crypto', 'Women Power', 'Rainbows Ends', 'Cards of Polo', 'Crypto Kitties', 'Busy Bats', '0xHile', 'Token Watchdogs', 'Non Fungible Nibbles', 'Pandamonium', '3D Me', 'Midas NFTs', 'Graceful Gorillas', 'United Crypto Token (UCT)', 'Crypto Art Gallery', 'Dark Horse Lady', 'Block View', 'Arty Arts', 
'White Storm', 'Krypto Queen', 'Clever Chimp', 'Qat Tree Unicorn', 'Anna Frozen Entertainers', 'Artificial Rocks', '0NOCH0', 'Flame Blade', 'The Gold Betta', 'Doge Pal', 'Elite Fur Dog Race Club', 'Dust Sifter', 'Moonlit Butterfly', 'Art Lover Box', 'Madame Witch', 'Fantasy Token', 'Bitsy', 'Hive City', 'Couch Potato', 'Burger Bits', 'Crypto Potluck', 
'Cyberboxer', 'Calm Crows', 'Crumbs NFT', 'Mint Chocolates', 'Atollon Coral', 'Dapper Dinos', 'Flame Cats', 'Addictive Animals', 'Alice Wonderland Frozen Carolers', 'Coin Dance', 'Giant Coin', 'Silver Lining Pixy', 'Headed Shark Attack', 'Ultimate League Of Paragon', 'Darker Clouds', 'Blue Mood Chip', 'Brush Point', 'Enthusiastic Elephants', 'Ultra Cool Dogs', 
'Pink Sports Cars']

dominios = ["hola.cl", "google.com","usm.cl","prestigio.usm.cl","crypto.co","basededatos.top"]

tipos_nft = [
    ("Imagen",), ("Musica",),("Juegos",), ("Modelo 3D",), ("Pixel",), ("Membresia",),("Arte",),
]

estilos = [
    ("Anime",),("Manga",),("Arte Retro",),("Arte Moderno",),("Impresionismo",),("Barroco",),("Arte Antiguo",),("Arte 3D",),("Paisaje",)
]

n_usuarios = 200
n_creadores = 20
n_nft = len(nft_names)
n_tipos_nft = len(tipos_nft)
n_usuario_tiene_nft = 80

usuarios = []
for _ in range(1, n_usuarios+1):
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    correo = nombre.lower()+"."+apellido[:4].lower()+"@"+r.choice(dominios)
    usuarios.append((nombre,apellido,correo,generate_password(),generate_timestamp()))

creadores = [(names.get_first_name(), names.get_last_name(), r.randint(0,5), r.choice(estilos)) for _ in range(1,n_creadores+1)]

nft = [(nft_names[n], r.randint(1,n_creadores), r.randint(1,n_tipos_nft)) for n in range(n_nft)]

precio_nft = [(r.randint(1,n_nft), generate_timestamp(), r.randint(500, 100000)) for _ in range(300)]

usuario_tiene_nft = [(r.randint(1,n_usuarios),r.randint(1,n_nft)) for _ in range(81)]


insert = [
    "INSERT INTO usuarios (nombre, apellido, correo, contraseña, fecha_registro) VALUES (%s, %s, %s, %s, %s)",
    "INSERT INTO creadores (nombre, apellido, popularidad, estilo) VALUES (%s, %s, %s, %s)",
    "INSERT INTO tipos_nft (nombre) VALUES (%s)",
    "INSERT INTO nft (nombre, id_creador, id_tipo) VALUES (%s, %s, %s)",
    "INSERT INTO precio_nft (id_nft, fecha, precio) VALUES (%s, %s, %s)",
    "INSERT INTO usuario_tiene_nft (id_usuario, id_nft) VALUES (%s, %s)"
]


for usuario in usuarios:
    cursor.execute(insert[0], usuario)

for creador in creadores:
    cursor.execute(insert[1], creador) 

for tipo in tipos_nft:
    cursor.execute(insert[2], tipo)  

for n in nft:
    cursor.execute(insert[3], n)  
    
for precio in precio_nft:
    cursor.execute(insert[4], precio) 
    
for usr in usuario_tiene_nft:
    cursor.execute(insert[5], usr)
    
connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

### Consulta 1
**ID y Nombre del creador de un estilo X con mayor popularidad.**

Ejemplo:

|Id |  Creador      |
|---|-----------|
| 12 |Levi Ackerman |
| ...| ...          |

**Solución:** _Escriba aquí la descripción de su solución._

In [64]:
%%sql

SELECT Creadores.ID_creador AS "Id", Creadores.nombre AS "Creador"
FROM Creadores
WHERE Creadores.estilo = 'Manga'
ORDER BY Creadores.popularidad DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[(18, 'Barbara')]

### Consulta 2
**Cantidad de precios que a tenido cada NTF.**

Ejemplo:


| NFT     | Cantidad de precios |
|--------------|----------|
| Minecraft Sphere |    3     |
| The Binary Girl     |    7     |
| ...          |   ...    |

**Solución:** _Escriba aquí la descripción de su solución._

In [65]:
%%sql
SELECT NFT.nombre AS "NFT", COUNT(NFT.ID_nft) AS "Cantidad de precios"

FROM NFT 
		INNER JOIN Precio_NFT ON NFT.ID_nft = Precio_NFT.ID_nft
        
GROUP BY NFT.ID_nft;

 * postgresql://postgres:***@localhost:5432/Blockchain
123 rows affected.

[('Non Fungible Nibbles', 5),
 ('Art Rumble', 3),
 ('Dust Rift', 1),
 ('Tokenized Superheroes', 1),
 ('Fair Coin', 2),
 ('Women Power', 3),
 ('Darker Clouds', 2),
 ('Busy Bats', 4),
 ('United Crypto Token (UCT)', 3),
 ('Anna Frozen Entertainers', 1),
 ('NFT Lord', 4),
 ('Couch Potato', 1),
 ('Hive City', 2),
 ('Funny Frogs', 2),
 ('White Storm', 3),
 ('Fantasy Token', 2),
 ('Dust Sifter', 3),
 ('Crypto Punked', 2),
 ('Enthusiastic Elephants', 3),
 ('Coin Dance', 2),
 ('Krypto Queen', 4),
 ('Crypto Bunny Ranch', 1),
 ('0NOCH0', 2),
 ('1-Love', 2),
 ('Futuristic Realism', 4),
 ('Ultimate Iconic Crypto (IUC)', 3),
 ('Crypto Potluck', 1),
 ('Mint Chocolates', 2),
 ('Pandamonium', 3),
 ('Cards of Polo', 2),
 ('Addictive Animals', 7),
 ('Calm Crows', 3),
 ('Bitsy', 3),
 ('Hilarious Horses', 2),
 ('Secret Stones', 2),
 ('Crumbs NFT', 2),
 ('Spells of Genesis', 1),
 ('Visionary Crypto', 1),
 ('Crypto Boom', 1),
 ('Elephant Treasure Hunt', 2),
 ('0xHile', 1),
 ('Light Embrace', 2),
 ('Block View', 7),
 ('Cypherpunk Samurai', 1),
 ('Rainbows Ends', 1),
 ('Bit NFT', 1),
 ('Artful Antlers', 3),
 ('Crypto Club', 1),
 ('Koala Kickers', 5),
 ('Depressed Dragons', 5),
 ('Sphere Art', 2),
 ('Dose of Art', 4),
 ('The Teacup Pomeranian', 1),
 ('Flame Blade', 1),
 ('Thunder NFT', 3),
 ('Panther NFT', 1),
 ('Graceful Gorillas', 6),
 ('Crypto Pigeon Race', 1),
 ('Digi Gods', 1),
 ('Crystalline Canyon', 1),
 ('Fight Punks', 1),
 ('Cryptokitty Ville', 3),
 ('Arty Arts', 3),
 ('Crypto Kitties', 3),
 ('Crypto Potato', 1),
 ('Midas NFTs', 1),
 ('Cryptonaut', 2),
 ('The Gold Betta', 3),
 ('0NOZER0', 4),
 ('Artistic Alpha', 3),
 ('Elite Fur Dog Race Club', 2),
 ('Brush Point', 4),
 ('Token Watchdogs', 3),
 ('Awesome Concept', 2),
 ('3D Me', 1),
 ('Crypto Art Gallery', 2),
 ('Mike Halloween Yodelers', 3),
 ('Clumsy Crocodiles', 3),
 ('1NiTRO', 5),
 ('Artificial Rocks', 2),
 ('Reflected Light', 1),
 ('Touchdown', 1),
 ('Moonlit Butterfly', 1),
 ('Dreamy Imaginations', 1),
 ('Cyberboxer', 3),
 ('Blue Mood Chip', 3),
 ('Madame Witch', 3),
 ('The Binary Girl', 1),
 ('Crypto Felines', 4),
 ('Phonetic Phoenix', 2),
 ('Dapper Dinos', 3),
 ('Water Wiggle', 4),
 ('Giant Coin', 3),
 ('Alice Wonderland Frozen Carolers', 1),
 ('Animated Hard Art', 4),
 ('Mountain of Clouds', 1),
 ('Techno Abstract Aesthetics', 2),
 ('Digital Unicorns', 4),
 ('Qat Tree Unicorn', 2),
 ('Art Dodger', 2),
 ('Ultra Cool Dogs', 4),
 ('Nova Auroras', 2),
 ('Pink Sports Cars', 2),
 ('Crypto Kitties Of War', 5),
 ('Crypto Jackpot', 2),
 ('Minecraft Sphere', 2),
 ('Atollon Coral', 1),
 ('Dark Horse Lady', 3),
 ('Crypto Life', 3),
 ('Butterfly Dust', 1),
 ('Blizz Blizzard', 5),
 ('Crypto Raptors', 1),
 ('Wowoo World', 3),
 ('Doge Pal', 2),
 ('To The Moon', 3),
 ('Fight For The Title', 1),
 ('Art Lover Box', 1),
 ('Outstanding Octopus', 3),
 ('Headed Shark Attack', 3),
 ('Silver Lining Pixy', 1),
 ('Lucky Lizards', 2),
 ('Healthy Hedgehogs', 2),
 ('Bling Bits', 6)]

### Consulta 3
**El nombre y tipo (nombre del tipo) del NFT más caro.**

Ejemplo:

| NFT    | Tipo | 
|----------------|--------|
| Minecraft Sphere| Arte 3D |

**Solución:** _Escriba aquí la descripción de su solución._

In [51]:
%%sql

SELECT NFT.nombre AS "NFT", Tipos_NFT.nombre AS "Tipo"

FROM NFT 
         INNER JOIN Precio_NFT ON NFT.ID_nft = Precio_NFT.ID_nft
         INNER JOIN Tipos_NFT ON NFT.ID_nft = Tipos_NFT.ID_tipo

ORDER BY Precio_NFT.precio DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[('Thunder NFT', 'Pixel')]

### Consulta 4
**Nombre y apellido del usuario con más numero de NFT.**

Ejemplo:

| Nombre     | Apellido |
|----------------|--------|
| Levi | Ackerman |

**Solución:** _Escriba aquí la descripción de su solución._

In [52]:
%%sql

SELECT 
    Usuarios.nombre AS "Nombre", Usuarios.apellido AS "Apellido"

FROM 
    Usuarios INNER JOIN Usuario_tiene_NFT ON Usuarios.ID_usuario = Usuario_tiene_NFT.id_usuario
GROUP BY Usuarios.nombre, Usuarios.apellido
ORDER BY COUNT(Usuarios.id_usuario) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[('Philip', 'Lawrence')]

### Consulta 5
**El NFT con más cambió en el precio en un año X.**

Ejemplo:

|  ID  | NFT | 
|--------|-------|
| 11 |Minecraft Sphere | 

**Solución:** Se selecciona el precio del nft y su nombre, esto desde una tabla provisoria creada con un inner join, esto debido a que debemos asignarle un nombre a cada ID que aparezca en la tabla de precios_nft (esta no cuenta con esa informacion). Posterior a esto, especificamos con un WHERE que queremos que el año sea 2018 en este caso (puede ser cambiado por el ayudante si asi lo desea). Luego con el GROUP BY juntamos todas las filas que contengan el mismo nombre e id, y luego ordenamos en funcion de COUNT (esta funcion nos indica cuantas filas con la misma id hay, en este caso) descendentemente. Finalmente lo limitamos a 1 ya que nos piden solamente el que mas se repite. En caso de que haya mas de uno, solo escoge el primero sin ningun criterio en particular.

In [53]:
%%sql

SELECT precio_nft.id_nft AS "ID", nft.nombre AS "NFT"
    
FROM
	 nft
	INNER JOIN precio_nft ON nft.id_nft=precio_nft.id_nft
WHERE
	EXTRACT(YEAR FROM fecha)=2018
GROUP BY  precio_nft.id_nft,nft.nombre
ORDER BY COUNT(precio_nft.id_nft) DESC
LIMIT 1

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[(42, 'Ultimate Iconic Crypto (IUC)')]

### Consulta 6
**Usuarios que NO tienen un nft.**

Ejemplo

|Nombre | Apellido|
|--------|-------|
|Guillermo    | Dias |
|Markus | Person |
|... | ...| 

**Solución:** _Escriba aquí la descripción de su solución._

In [54]:
%%sql
SELECT 
    Usuarios.nombre AS "Nombre", Usuarios.apellido AS "Apellido"
FROM
    Usuarios FULL OUTER JOIN Usuario_tiene_NFT ON Usuarios.ID_usuario = Usuario_tiene_NFT.id_usuario
WHERE 
    Usuario_tiene_NFT.id_nft is null;

 * postgresql://postgres:***@localhost:5432/Blockchain
132 rows affected.

[('Bobby', 'Harris'),
 ('Timothy', 'Rouzer'),
 ('Michael', 'Henson'),
 ('Mary', 'Lukach'),
 ('Walter', 'Sturgis'),
 ('Doreen', 'Stroman'),
 ('Floyd', 'Ham'),
 ('Irwin', 'Oliveros'),
 ('Alice', 'Sullins'),
 ('Denise', 'Giorgi'),
 ('Sondra', 'Bechel'),
 ('Gene', 'Green'),
 ('Bradley', 'Garcia'),
 ('Charles', 'Martin'),
 ('Ryan', 'Bennett'),
 ('Gary', 'Koch'),
 ('Shawnee', 'Summers'),
 ('Betty', 'Kinder'),
 ('Matthew', 'Keomuangtai'),
 ('Andres', 'Bundren'),
 ('Allen', 'Martinez'),
 ('John', 'Janssen'),
 ('Ralph', 'Lopez'),
 ('Thomas', 'Wynne'),
 ('Barry', 'Blackburn'),
 ('Martha', 'Carrion'),
 ('Katie', 'Widener'),
 ('Jennifer', 'Bigelow'),
 ('Anne', 'Wilson'),
 ('Irene', 'Bryant'),
 ('Sharon', 'Clowes'),
 ('Jennifer', 'Radcliff'),
 ('Stephanie', 'Chang'),
 ('James', 'Johnson'),
 ('Irma', 'Howard'),
 ('Marilee', 'Yuen'),
 ('Ginger', 'Hanna'),
 ('Sarah', 'Boyd'),
 ('Eugene', 'Waggoner'),
 ('Kristy', 'Anderson'),
 ('Sara', 'Murakami'),
 ('Joseph', 'Lemaster'),
 ('Erika', 'Taylor'),
 ('Mary', 'Illuzzi'),
 ('Ruby', 'Burch'),
 ('Antonio', 'Zuniga'),
 ('Janell', 'Smith'),
 ('Lincoln', 'Vanhorn'),
 ('Scott', 'Stahr'),
 ('Sandra', 'Vilkama'),
 ('Robert', 'Tamburo'),
 ('Mary', 'Brown'),
 ('Corey', 'Connolly'),
 ('Gina', 'Shaffer'),
 ('Gladys', 'Mills'),
 ('Christine', 'Reynolds'),
 ('Susan', 'Harmeson'),
 ('Marie', 'Burgos'),
 ('Billy', 'Redington'),
 ('George', 'Brim'),
 ('Nicole', 'Hollyfield'),
 ('Alissa', 'Carlisle'),
 ('Brian', 'Lewis'),
 ('Dustin', 'Gonzales'),
 ('Stanley', 'Travis'),
 ('Jeanne', 'Heston'),
 ('Laticia', 'Hollowell'),
 ('Kenneth', 'Hanson'),
 ('Debra', 'Stevenson'),
 ('Alexander', 'Mirando'),
 ('Lucile', 'Brown'),
 ('Gloria', 'Wheeler'),
 ('Jose', 'Zahar'),
 ('Eugene', 'Knorr'),
 ('Martha', 'Miller'),
 ('Perry', 'Parks'),
 ('Kurt', 'Dean'),
 ('Sandra', 'Wood'),
 ('Gertrude', 'Hays'),
 ('Delores', 'Wilder'),
 ('Karen', 'Pena'),
 ('Kristy', 'Whitehead'),
 ('Jason', 'Page'),
 ('Larry', 'Corman'),
 ('Chanda', 'Milosevic'),
 ('Ray', 'Knight'),
 ('Joseph', 'Armendarez'),
 ('Terry', 'Ritchie'),
 ('Russell', 'Wyrick'),
 ('Christine', 'Swing'),
 ('Sylvia', 'Montoro'),
 ('Gregory', 'Quick'),
 ('George', 'Darrell'),
 ('Candice', 'Schaeffer'),
 ('Jonathan', 'Galiano'),
 ('Helen', 'Macha'),
 ('Thomas', 'Guereca'),
 ('Trevor', 'Dunbar'),
 ('Terry', 'Barker'),
 ('Edward', 'Jones'),
 ('Velma', 'Walker'),
 ('Ellen', 'Pfeffer'),
 ('Carl', 'Ross'),
 ('Ronald', 'Williams'),
 ('Amy', 'Jones'),
 ('Marvin', 'Jernigan'),
 ('David', 'Lacombe'),
 ('Carrie', 'Dupree'),
 ('Sarah', 'Brubaker'),
 ('Eric', 'Lopez'),
 ('Michael', 'Strickland'),
 ('Angie', 'Williams'),
 ('Peter', 'Carnillo'),
 ('Sarah', 'Riccio'),
 ('Christi', 'Merna'),
 ('Jennifer', 'Reed'),
 ('Brenda', 'Crossland'),
 ('Jim', 'Mendoza'),
 ('Lucy', 'Houlihan'),
 ('Sharon', 'Lemons'),
 ('Jacqueline', 'Grant'),
 ('Matthew', 'Stapleton'),
 ('Stacy', 'Taylor'),
 ('Alison', 'Mcconnell'),
 ('Pat', 'Christensen'),
 ('Misty', 'Cribbin'),
 ('Jose', 'Lawson'),
 ('Tony', 'Tumbleson'),
 ('Isabella', 'Kuntzman'),
 ('Mario', 'Reichman'),
 ('Lynn', 'Brashear'),
 ('Terry', 'Cool')]

### Consulta 7
**Top 4 NFT más caros de un id_tipo X .**

Ejemplo:

|NFT | 
|--------|
|Minecraft Sphere | 
|The Binary Girl |
|Koalas in Love | 
|Art Dodger | 

**Solución:** _Escriba aquí la descripción de su solución._

In [55]:
%%sql
SELECT nft.nombre AS "NFT"
FROM(
	SELECT precio_nft.id_nft,  MAX(precio_nft.fecha) AS "ultimafecha"
	FROM precio_nft
	GROUP BY precio_nft.id_nft) AS lastdate
	
	INNER JOIN precio_nft 
	ON precio_nft.fecha=lastdate.ultimafecha
	AND precio_nft.id_nft = lastdate.id_nft
	
	INNER JOIN nft
	ON precio_nft.id_nft=nft.id_nft
	
	INNER JOIN tipos_nft
	ON tipos_nft.id_tipo=nft.id_tipo
WHERE tipos_nft.nombre= 'Juegos'
ORDER BY precio_nft.precio DESC
LIMIT 4;

 * postgresql://postgres:***@localhost:5432/Blockchain
4 rows affected.

[('Crypto Pigeon Race',),
 ('Calm Crows',),
 ('Mountain of Clouds',),
 ('Thunder NFT',)]

### Consulta 8
**Los precios de todos los NFT entre los años 2017 y 2019 inclusive.**

Ejemplo:

|NFT |Precio |
|----|---|
|Minecraft Sphere |  4000 |
|The Binary Girl | 3000| 
| Koalas in Love | 6000 |
|Minecraft Sphere |  1250 |
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [56]:
%%sql

SELECT nft.nombre AS "NFT", precio_nft.precio AS "Precio"
FROM precio_nft
	INNER JOIN nft
	ON precio_nft.id_nft = nft.id_nft
WHERE 
	EXTRACT(YEAR FROM precio_nft.fecha) BETWEEN 2017 AND 2019;

 * postgresql://postgres:***@localhost:5432/Blockchain
106 rows affected.

[('Animated Hard Art', 39811),
 ('Bling Bits', 36963),
 ('Outstanding Octopus', 3543),
 ('Bling Bits', 52869),
 ('0NOZER0', 99044),
 ('Minecraft Sphere', 16147),
 ('Futuristic Realism', 67087),
 ('Giant Coin', 32339),
 ('NFT Lord', 76714),
 ('Dose of Art', 95328),
 ('Anna Frozen Entertainers', 61567),
 ('White Storm', 87165),
 ('Butterfly Dust', 37801),
 ('Thunder NFT', 95042),
 ('Qat Tree Unicorn', 3197),
 ('Artful Antlers', 34428),
 ('Elite Fur Dog Race Club', 34990),
 ('Flame Blade', 39657),
 ('Dust Sifter', 25145),
 ('Token Watchdogs', 91098),
 ('Non Fungible Nibbles', 77967),
 ('Techno Abstract Aesthetics', 8045),
 ('Digital Unicorns', 40618),
 ('Silver Lining Pixy', 25212),
 ('Dark Horse Lady', 83341),
 ('Blizz Blizzard', 54440),
 ('Block View', 97850),
 ('Cryptokitty Ville', 23590),
 ('Artistic Alpha', 24599),
 ('Ultimate Iconic Crypto (IUC)', 83082),
 ('Crypto Bunny Ranch', 76501),
 ('NFT Lord', 75784),
 ('Block View', 58946),
 ('1NiTRO', 95229),
 ('Clumsy Crocodiles', 2607),
 ('Bling Bits', 5290),
 ('Crypto Life', 9918),
 ('Crypto Kitties Of War', 10550),
 ('Doge Pal', 44835),
 ('Crumbs NFT', 94962),
 ('Enthusiastic Elephants', 16225),
 ('Headed Shark Attack', 85667),
 ('Nova Auroras', 43763),
 ('Thunder NFT', 72907),
 ('Fantasy Token', 28438),
 ('Blizz Blizzard', 87900),
 ('Crypto Potato', 81018),
 ('Crypto Punked', 29431),
 ('Hilarious Horses', 27415),
 ('Bit NFT', 57256),
 ('Darker Clouds', 23183),
 ('Atollon Coral', 37970),
 ('Crumbs NFT', 90628),
 ('Koala Kickers', 54469),
 ('Bitsy', 77753),
 ('Block View', 33355),
 ('Qat Tree Unicorn', 56190),
 ('Non Fungible Nibbles', 48176),
 ('Artful Antlers', 81879),
 ('Cryptokitty Ville', 66629),
 ('Water Wiggle', 16365),
 ('Healthy Hedgehogs', 80526),
 ('Headed Shark Attack', 22928),
 ('Crypto Kitties', 89023),
 ('Artistic Alpha', 69089),
 ('Crypto Pigeon Race', 99902),
 ('Brush Point', 90154),
 ('Arty Arts', 74147),
 ('Funny Frogs', 73785),
 ('Dose of Art', 61968),
 ('Brush Point', 67852),
 ('Clumsy Crocodiles', 90821),
 ('Pink Sports Cars', 40301),
 ('Cyberboxer', 65660),
 ('Depressed Dragons', 61460),
 ('Koala Kickers', 58070),
 ('0NOCH0', 66564),
 ('To The Moon', 80891),
 ('Moonlit Butterfly', 9385),
 ('1NiTRO', 82689),
 ('Visionary Crypto', 93136),
 ('1-Love', 20021),
 ('Graceful Gorillas', 84803),
 ('Non Fungible Nibbles', 70723),
 ('Block View', 70220),
 ('Futuristic Realism', 75439),
 ('Cryptonaut', 6396),
 ('Pandamonium', 51482),
 ('Krypto Queen', 39214),
 ('Pandamonium', 83069),
 ('0NOZER0', 84463),
 ('Awesome Concept', 22594),
 ('Addictive Animals', 78115),
 ('Madame Witch', 96811),
 ('Busy Bats', 86964),
 ('Panther NFT', 12570),
 ('Coin Dance', 39720),
 ('Light Embrace', 67895),
 ('Art Rumble', 60961),
 ('Graceful Gorillas', 55726),
 ('0NOZER0', 45259),
 ('Artistic Alpha', 59557),
 ('Phonetic Phoenix', 41251),
 ('Crypto Boom', 47322),
 ('Ultimate Iconic Crypto (IUC)', 1034),
 ('Token Watchdogs', 68984)]

### Consulta 9 
**Creador al cual le han comprado más NFT's.**

Ejemplo:
   
|Nombre |Apellido |Cantidad |
|-|--|-----|
| Levi |Ackerman |32|

**Solución:** _Escriba aquí la descripción de su solución._

In [67]:
%%sql
SELECT Tabla.nombre AS "Nombre", Tabla.apellido AS "Apellido", COUNT(Tabla.nombre) AS "Cantidad"
FROM (
    SELECT Creadores.ID_creador, NFT.ID_nft, Creadores.nombre, Creadores.apellido
    FROM NFT INNER JOIN Creadores ON NFT.ID_creador = Creadores.ID_creador
    GROUP BY Creadores.ID_creador, NFT.ID_nft
    ) AS Tabla
    INNER JOIN Usuario_tiene_NFT ON Tabla.id_nft = Usuario_tiene_NFT.id_nft
GROUP BY Tabla.nombre, Tabla.apellido
ORDER BY COUNT(Tabla.nombre) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[('Wm', 'Walker', 7)]

### Consulta 10  
**El mayor valor actual de un NFT que pertenezca al creado con mayor popularidad.**

Ejemplo:
   
|NFT |Valor|
|-|-------|
|Minecraft Sphere |18000|

**Solución:** Comenzando de adentro hacia afuera, tenemos 2 anidaciones en total. En la mas interior, se genera una tabla-consulta con los precios solamente del año mas nuevo, esto a traves de un GROUP BY del id_nft, usando MAX para encontrar la fecha mayor(que sería la actual). Posterior a esto, hacemos un INNER JOIN entre la tabla que acabamos de crear, precio_nft, nft y los creadores. Todo esto para poder conectar la popularidad de los creadores con el precio, ya que estos no estan directamente conectados. Luego, ordenamos en forma descendente en funcion de la popularidad y el precio, asi quedandonos los que tienen mayor popularidad arriba junto con los que tienen mayor precio. Por lo tanto, siempre la consulta resultara en el NFT que tenga mayor precio por parte del creador con mayor popularidad (si hay mas de un creador con la misma popularidad, se entregara el NFT que tenga mayor precio).

In [58]:
%%sql

SELECT nft.nombre AS nombre, precio_nft.precio AS Valor
 FROM
	(SELECT id_nft, MAX(fecha) AS "ultimafecha"
	 FROM precio_nft
	 GROUP BY id_nft) AS lastprice

	INNER JOIN precio_nft 
	ON lastprice.ultimafecha= precio_nft.fecha 
	AND lastprice.id_nft = precio_nft.id_nft

	INNER JOIN nft
	ON lastprice.id_nft =nft.id_nft

	INNER JOIN creadores
	ON creadores.id_creador = nft.id_creador
ORDER BY creadores.popularidad DESC, precio_nft.precio DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[('Calm Crows', 99492)]